<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title><%= page.title || 'Saber' %></title>
    <link href="http://fonts.googleapis.com/css?family=Cinzel:400|Lato:300,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="<%- config.root %>css/main.css" type="text/css" />
    <!--[if lt IE 9]>
    <script src="<%- config.root %>js/html5.js"></script>
    <link rel="stylesheet" href="<%- config.root %>css/fix4IE.css" type="text/css" />
    <![endif]-->
</head>
<body>
    <header>
        <h1>Saber</h1>
        <!--
        <nav>
            <a href="#" <% if(page.nav == 'about') {%>class="cur"<%}%>>ABOUT</a>
            <a href="#" <% if(page.nav == 'guides') {%>class="cur"<%}%>>GUIDES</a>
            <a href="#" <% if(page.nav == 'api') {%>class="cur"<%}%>>API</a>
            <a href="#" <% if(page.nav == 'builds') {%>class="cur"<%}%>>BUILDS</a>
            <a href="#" <% if(page.nav == 'blog') {%>class="cur"<%}%>>BOLG</a>
            <a href="#" <% if(page.nav == 'archer') {%>class="cur"<%}%>>ARCHER</a>
            <a href="#" target="_blank">GITHUB</a>
        </nav>
        -->
    </header>

    <div class="forkme"><a href="https://github.com/ecomfe/saber" target="_blank">Fork me on Github</a></div>
