<main class="doc">
    <aside>
        <ul class="repos">
            <li>saber-ajax</li>
            <li>saber-dom</li>
            <li>saber-emitter</li>
            <li>saber-matchmedia</li>
        </ul>
    </aside>
    <%- partial('_partial/article', {post: page, index: false}) %>
    <%- partial('_partial/comment') %>
</main>
