<section class="any-other">
    <p>开源的 <em>Saber</em> 来自百度 <a href="http://efe.baidu.com/"><em>EFE</em></a> 的 <em>Mobile</em> 团队。在 <a href="http://efe.baidu.com/"><em>EFE</em></a>，我们还有其他开源产品：</p>
    <dl>
        <dt><a target="_blank" href="http://echarts.baidu.com/">ECharts</a></dt>
        <dd>直观，生动，可交互，可高度个性化定制的数据可视化图表。</dd>
        <dt><a target="_blank" href="https://github.com/ecomfe/esl">ESL</a></dt>
        <dd>比Require.js更精简、更高效、更健壮的AMD Loader。</dd>
        <dt><a target="_blank" href="http://ecomfe.github.io/etpl">ETpl</a></dt>
        <dd>强复用、灵活、高性能的JavaScript模板引擎。</dd>
        <dt><a target="_blank" href="https://github.com/ecomfe/edp">EDP</a></dt>
        <dd>提供了前端开发时常用工具：项目管理、包管理、调试、构建、代码生成、代码检测等，并允许用户自定义扩展。</dd>
        <dt><a target="_blank" href="https://github.com/ecomfe/er">ER</a></dt>
        <dd>富浏览器端 web 应用的框架，适用于并能很方便地构建一个整站式的 AJAX web 应用。</dd>
        <dt><a target="_blank" href="https://github.com/ecomfe/esui">ESUI</a></dt>
        <dd>一套功能完善，并具有强大扩展机制的 UI 组件库。基于模板、声明式地编程方式让视图更具表达能力。</dd>
        <dt><a target="_blank" href="http://ecomfe.github.io/est/">EST</a></dt>
        <dd>基于 Less 的样式工具库，提供了一系列方便快捷的 mixin，只在调用时才输出代码。</dd>
        <dt><a target="_blank" href="https://github.com/ecomfe/rider">Rider</a></dt>
        <dd>专为移动端设计的 Mixin 风格样式工具库。在其基础上创建了 Rider UI，一个灵活的 UI 样式库。</dd>
        <dt><a target="_blank" href="http://efe.baidu.com/">......</a></dt>
    </dl>
</section>
