<header>
    <div class="topbar">
        <h1 class="logo"><a href="<%- url_for('') %>">saber</a></h1>
        <nav class="menu">
            <ul>
                <% for (var i in theme.menu) { %>
                <%
                var curItemValue = theme.menu[i];
                var isActive = false;


                if (path.indexOf(curItemValue) === 0) {
                    isActive = true;
                }
                if (!path && !curItemValue) {
                    isActive = true;
                }
                %>
                <li><a href="<%- url_for(theme.menu[i]) %>"<% if (isActive) { %> class="active"<% } %>><%= i %></a></li>
                <% } %>
                <% if (theme.github) { %>
                <li><a href="<%= theme.github %>" target="_blank">GitHub</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>
