@require '_highlight'
@require '_content'

// 为 article 提供排版支持
article
    padding: 20px 0

    $-heading-rato = (2.25 1.75 1.5 1.25 1 0.85)

    +above(4)
        ui-content(16px, 26px, $-heading-rato)
        padding-bottom: 30px

    +below(3)
        ui-content(14px, 22px, $-heading-rato)
        padding: _ 10px

    img
        max-width: 100%

    h2
        border-bottom: 1px solid #efefef

    p code
        background: #efefef
        padding: 3px
        border-radius: 3px

    .highlight
        border-radius: 5px

    .article-title
        color: #50608f

.comments
    padding: 10px _
    +below(3)
        padding: 10px
