.doc
    +above(4)
        clearfix()

        article
            margin-left: 200px

        aside
            float: left
            margin: 25px 0
            width: 180px

        .repos
            font-size: 16px
            box-sizing: border-box
            border-radius: 5px

            > li
                line-height: 1.5em
                padding: 3px 10px
                background: lighten(#38519a,90%)
                margin: 1px
                border-radius: 5px

                &.active
                    background: lighten(#38519a,90%)
                    > a
                        font-weight: 700
                    .versions
                        display: block

        .versions
            font-size: 14px
            margin: 0 -7px
            display: none
            padding-top: 5px
            border-top: 1px solid lighten(#38519a,85%)

            > li
                border-radius: 3px
                margin: 1px
                line-height: 1.5em
                padding: 2px 17px
            > li.active
                background: #fff
                font-weight: 700
                margin-right: -6px
                border-radius: 3px 0 0 3px
