.doc
    +above(4)
        clearfix()

        article
            margin-left: 200px

        aside
            float: left
            margin: 25px 0
            width: 180px

        .repos
            font-size: 16px
            box-sizing: border-box
            border-radius: 5px

            > li
                line-height: 1.5em
                padding: 3px 10px
                background: lighten(#38519a,90%)
                margin: 1px
                border-radius: 5px
                color: #50608f

        .versions
            font-size: 14px
            margin: 0 -7px

            > li
                border-radius: 3px
                background: lighten(#38519a,97%)
                margin: 1px
                line-height: 1.5em
                padding: 2px 17px
            > li.active
                font-weight: 700
                color: lighten(#38519a,50%)
