.forkme {
    top: 0;
    right: 0;
    height: 137px;
    width: 137px;
    background: url(img/forkme.png) 0 0 no-repeat;
    overflow: hidden;
}

.forkme a {
    display: block;
    height: 100%;
    text-indent: -1000%;
}

.intro .feature .demo {
    border: 10px solid #367898;
}
